.red {
    background-color: rgb(255, 77, 77);
    padding: 4px;
}

.orange {
    background-color: rgb(255, 168, 7);
    padding: 4px;
}

.yellow {
    background-color: rgb(250, 250, 8);
    padding: 4px;
}

.green {
    background-color: rgb(14, 223, 14);
    padding: 4px;
}